<div class="container-fluid" style="background-color: white">
  <div class="row">
      <div class="col-sm-12 p-0">
          <nav class="navbar  navbar-fixed navbar-dark " style="background-color:rgb(5, 5, 128);">
              <a class="navbar-brand" style="font-size:1.5em; color: white" [routerLink]="['/booking-dashboard']">INSTACAR
              </a>
              <a class="nav-link mr-sm-2" style="font-size:1em; color: white" (click)="logout()">LogOut</a>
            </nav>
      </div>
  </div>
</div>
